[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
pylint = "*"
wheel = "*"
twine = "*"
setuptools = "*"

[packages]
requests = ">=2.22.0"
PySocks = "*"

[requires]
python_version = "3.7"
